<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longhum.admin.dao.SysResourceMapper" >
  <resultMap id="BaseResultMap" type="com.longhum.admin.model.SysResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, path, parent_id, parent_ids, permission,sort, status, icon
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAllMenu" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    order by sort
  </select>
  <select id="findByRoleId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource where id in(
    	select resource_id from sys_role_resource
	    	where role_id = #{roleId}
    )
    order by sort
  </select>
              
  <select id="findByRoleIdOrParentIdOrPreateIdsOrType" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    <where>
    	<if test="parentId != null" >
	        and parent_id = #{parentId}
	    </if>
	    <if test="parentIds != null" >
	        and parent_ids like '%${parentIds}%'
	    </if>
	    <if test="type != null" >
	        and type=#{type}
	    </if>
	    <if test="roleId != null">
	    	and id in(
	    	select resource_id from sys_role_resource
	    	where role_id = #{roleId}
	    )
	    </if>
    </where>
	order by sort
  </select>
  <!-- <select id="findByParentIdAndUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where 
	    id in(
	    	select resource_id from sys_role_resource
	    	where role_id in(
	    		select role_id from sys_role_user 
	    		where user_id = #{userId}
	    	)
	    )
	    <if test="parentId != null" >
	        and parent_id = ${parentId}
	    </if>
	    <if test="parentIds != null" >
	        and parent_ids like '%${parentIds}%'
	    </if>
	    <if test="type != null" >
	        and type=#{type}
	    </if>
	    order by sort
  </select> -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="save" parameterType="com.longhum.admin.model.SysResource" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="parentIds != null" >
        parent_ids,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentIds != null" >
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.longhum.admin.model.SysResource" >
    update sys_resource
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentIds != null" >
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>